server:
  error:
    include-stacktrace: never

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/library_management-db?createDatabaseIfNotExist=true
    username: root